@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app-header{
    height:60px;
    padding: 0px 32px 0px 32px;
    background-color: #243831;
    display: flex;
    justify-content: center;
    align-items: center;
    .app-header-box{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            font-size:20;
            font-family: "Castoro", serif;
            font-weight: 400;
            font-style: italic;
            color:white;
        }
        button{
            width:105px;
            height:40px;
            border-radius: 8px;
            color:white;
            background-color: #49A569;
            border:none;
            cursor: pointer;

            &:hover{
                background-color: #469c64;
            }
        }
    }
}

@media (max-width: 768px) {
    .app-header{
        position: relative;
        width:375px;
        height:60px;
        padding: 0;
        background-color: #243831;
        display: flex;
        justify-content: center;
        align-items: center;
        .app-header-box{
            width:100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 32px 10px;
            span{
                font-size:20;
                font-family: "Castoro", serif;
                font-weight: 400;
                font-style: italic;
                color:white;
            }
            .button-signin{
                width:105px;
                height:40px;
                border-radius: 8px;
                color:white;
                background-color: #49A569;
                border:none;
                cursor: pointer;
            }
            .button-icon{
                font-size: 20px;
                width:40px;
                background-color: transparent;
                cursor:pointer;
            }
        }
        .sidebar{
            position: absolute;
            color:#D8E9E4;
            background-color: #243831;
            width:280px;
            height:912px;
            top:0;
            right:0;
            z-index:1;
            .inside-sidebar{
                padding: 20px;
                display: flex;
                flex-direction: column;
                height: 140px;
                justify-content: space-between;

                .homeandblog{
                    gap:10px;
                    display: flex;
                    flex-direction: column;
                    span{
                        cursor: pointer;

                        &:hover{
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}